@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}
 
/* 기본 스타일 설정 */
@layer base {
  html,
  body {
    @apply h-full bg-slate-900;
  }

  body {
    @apply text-foreground font-sans;
    @apply bg-gray-100;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-semibold;
  }

  a {
    @apply text-primary hover:text-primary-dark;
  }
  .main-container {
    @apply bg-slate-300;
  }
  
  .calendar-container {
    @apply container mx-auto mt-10 shadow-lg rounded-lg overflow-hidden bg-white;
  }
  .month-txt {
    @apply text-black;
  }
  .calendar-header {
    @apply flex justify-between items-center bg-primary p-4 text-white;
  }

  .calendar-body {
    @apply grid grid-cols-7;
  }

  .calendar-day {
    @apply border border-transparent text-center py-2 cursor-pointer hover:border-gray-200;
  }

  .calendar-weekday {
    @apply text-center font-medium py-2 bg-gray-100;
  }

  .current-day {
    @apply bg-blue-500 text-white;
  }
  /* 기타 필요한 기본 스타일 */
}

/* 컴포넌트 스타일 설정 */
@layer components {
  .btn {
    @apply px-4 py-2 bg-primary text-white rounded-md hover:bg-primary-dark;
  }

  .card {
    @apply bg-card p-4 rounded-lg shadow-md;
  }

  /* 기타 컴포넌트 스타일 */
}

/* 유틸리티 클래스 설정 (필요한 경우) */
@layer utilities {
  .text-shadow {
    @apply shadow-lg;
  }

  .border-base {
    @apply border border-border;
  }

  /* 기타 유틸리티 클래스 */
}

/* 다크 모드 설정 */
@media (prefers-color-scheme: dark) {
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    /* 기타 다크 모드용 변수 설정 */
  }

  .dark .btn {
    @apply bg-primary-dark hover:bg-primary;
  }

  .dark .card {
    @apply bg-card-dark;
  }

  /* 다크 모드용 추가 스타일 */
}